/* body {
  background: #ffffff;
}

.wrapper {
  box-sizing: border-box;
  padding: 20px;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 0 5px #2c3e50;
  background: #2c3e50;
  margin: 0 auto;
} 

form {
  position: relative;
  width: 100%;
}

form > input {
  box-sizing: border-box;
  padding-left: 5px;
  width: 100%;
  border: 1px solid #34495e;
  background: transparent;
  line-height: 30px;
  font-size: 14px;
  border-radius: 5px;
  color: #ecf0f1;
}

form > input:focus {
  outline: none;
}

form > button {
  position: absolute;
  top: 4px;
  right: 4px;
  line-height: 23px;
  border: none;
  background: greenyellow;
  border-radius: 3px;
  color: blueviolet;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  position: relative;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #34495e;
  background: transparent;
  line-height: 20px;
  color: #ecf0f1;
}

li > .check {
  width: 20px;
  height: 20px;
  border: 1px solid #34495e;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

li > .text {
  display: inline-block;
  vertical-align: top;
}

.done > .check {
  border-color: #27ae60;
  background: #2ecc71;
}

.remove {
  position: absolute;
  background: #e74c3c;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 12px;
  right: 5px;
  top: 6px;
  cursor: pointer;
}

#rem_Done  {
  position: relative;
  top: 4px;
  right: 4px;
  width: -20px;
  line-height: 23px;
  border: none;
  background: blue;
  border-radius: 3px;
  color: #ecf0f1;
}

#rem_All {
  position: relative;
  top: 4px;
  right: 4px;
  width: -20px;
  line-height: 23px;
  border: none;
  background: red;
  border-radius: 3px;
  color: #ecf0f1;
} */